@section head 
    {
        <script type="text/javascript" src="@Url.Content("~/scripts/AjaxDemo.js")"> </script>
    }
    
    @Html.ActionLink("Show the privacy policy","PrivacyPolicy", null, new { id = "privacyLink" })

    <div id="privacy">
        
    </div>