@{
    ViewBag.Title = "Index";
}

@section head 
    {
    <script type="text/javascript" src="@Url.Content("~/scripts/JsonDemo.js")"></script>
}

<a id="testA" href="http://www.wp.pl"><h2>Index</h2></a>

<div>
    <label id="Id"></label>
    <label id="Name"></label>
</div>

